
.bgimage{
background-color: rgb(204, 218, 218);
}

.section1{
    margin: auto;
    align-items: center;
    width: 100%;

}

.newArrival{
    margin-top: 30px;
	margin-bottom: 30px;
    align-items: center;
    background: linear-gradient(white, grey, white);
    
}
p, h5{
    text-align: center;
}
.newArrival img{
    margin-left: 70px;
}
h1{
    color: brown;
    font-weight: 100;
    text-align: center;
    margin: 20px;
}
.popular{
    background: linear-gradient(white,rgb(221, 190, 190), white);
}
.popular img{
    margin-left: 70px;
}
nav{
    background-color: rgb(255, 255, 255);
    color: white;
}

.taste{
    margin-left: 50px;
    margin-top: 100px;
    
}
.contact{
    background-color: rgb(7, 7, 36);
    
}
.foot a{
    list-style-type: none;
    text-decoration: none;
    padding-left: 40%;
}
@media screen and (max-width: 750px){
	
	.section1 img{
        margin-left: 30%;
    
    }
    #bg{
       
        height: 40vh;
        padding: 0;
        margin: 0;
    }
	
  
    input{
        margin: auto;
        align-items: center;
        width: 65%;
    }
    #contact{
        margin-right: 60%;
    }
    .about{
        margin-top: 20px;
    }

}
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }
  #about{
      font-size: small;
      font-weight: lighter;
  }

  #contact{
      background-color: rgb(193, 203, 221);
      padding-left: 40%;
      width: 100%;
  }
  li a{
      margin-left: 20px;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .label {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
  }
  .switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .moon {
    color: #ffa502;
  }
  
  .sun {
    color: #ff4757;
  }
  .checkbox:checked + .label .switcher {
    transform: translateX(24px);
  }
  body.dark {
  background-color: #1e272e;
}
body.dark li a {
    color: white;
  }
  body.dark p{
      color: white;
  }
  body.dark #popular p{
    color: rgb(3, 3, 3);
}
body.dark h5{
    color:white;
}
body.dark nav{
    background-color: black;
}
